ul {list-style: none;}
a {text-decoration: none;}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
input,
form {
margin: 0;
padding: 0;
}
html,
body {
font-family: Microsoft YaHei ;
SimSun, Arial, Helvetica, sans-serif;
}
.fl {
float: left;
}
.fr {
float: right;
}
img {
border: none;
}
.clear{clear: both;}
.content{width: 1100px; margin: 0 auto; border-radius: 5px; border:1px solid #c2c2c2; margin-bottom: 40px;}
.content >h1{ height: 40px; border-bottom:1px solid #c2c2c2; position: relative; }
.content >h1 img{position: absolute; left: 460px; top: 20px;}
.content .text{ width: 1000px; padding: 10px 0; margin: 0 auto; margin-top: 20px; line-height: 30px; font-size: 16px;  }
.content .text b{font-size: 22px; color: #1abd9e;}
.content>ul{width: 1000px; margin: 0 auto; margin-top: 50px;}
.content>ul li{ width: 320px; background: #f9f9f9; position: relative; margin-left: 17px; padding-top: 15px; color: #333333; float: left; border:1px solid #c2c2c2; height: 205px; }
.content>ul li .step{ height: 30px; font-size: 16px; line-height: 30px; text-indent: 30px; }
.content>ul li .action{ line-height: 30px; font-size: 16px;  width: 262px; margin: 0 auto; }
.content>ul li .action b{font-size: 17px; color: #ff0000}
.content>ul li .first{position: absolute; bottom: 0; width: 100%;}
.content>ul li .first img{width: 100%;position: absolute; bottom: 0;}
.content .qq{height: 80px; margin: 0 auto; margin-top: 30px; width: 1000px; border:1px solid #c2c2c2; border-radius: 5px;}
.content .qq p{line-height: 40px; min-height: 40px; width: 100%; font-size: 16px; text-indent: 20px;}
.content .qq p span{float: left}
.content .qq p img{margin-top: 5px; float: left;}
.content .end{width: 1000px; margin: 0 auto; margin-top: 40px; font-size: 16px;}
.content .end p{ line-height: 30px; margin-bottom: 30px }
.content .end b{color: #ff0000}

@media only screen and (min-width: 767px) and (max-width: 769px) {
   body{background: yellow}
   .content{width: 768px;}
   .content >h1{width:768px; }
   .content >h1 img{left: 332px;}
   .content .text{width: 768px;}
   .content>ul{width: 768px;}
   .content>ul li{width: 230px;}
   .content>ul li .step{text-indent: 5px; }
   .content>ul li .action{ width: 220px; }
   .content .qq{width: 768px;}
   .content .end{width: 768px}
}
@media only screen and (max-width: 767px){
	body{padding: 0 10px;}
	.content{width: 100%;padding:0 20px;}
	.content .text{margin-left: 10px;}
	.content >h1{width:100%; }
	.content >h1{width:100%; }
   .content >h1 img{left: 33%;}
   .content .text{width: 100%;}
   .content>ul{width: 100%;}
	.content>ul li{ width: 100%; height: 224px; margin-left: 0px; border-left: 0px; border-right: 0px; margin-bottom: 20px; }
   .content>ul li .step{text-indent: 5px; }
   .content>ul li .action{ width: 100%; padding-left: 5px; }
   .content .qq{width: 100%; height: auto; }
   .content .qq p{text-indent: 0px; padding-left: 5px;}
   .content .end{width: 100%}
}
@media only screen and (max-width: 320px){
	.content >h1 img{left: 26%;}
}

@media only screen and (max-width: 375px) and (min-width: 321px){
	.content >h1 img{left: 28%;}
   
}