.container { width:1100px; margin-left: auto; margin-right: auto; }
.banner{ min-width:1100px; background:url(../images/banner-bg.jpg) top center no-repeat;}
.banner .container { position:relative; height:820px; }

.banner .container .banner-h2 { position:absolute; top:163px; left:162px; width:775px; height:84px; background:url(../images/banner-h2.png) 0 0 no-repeat; }
.banner .container .banner-txt { position:absolute; top:267px; left:207px; width:687px; height:46px; background:url(../images/banner-txt.png) 0 0 no-repeat; }

.main { min-width: 1100px; padding-bottom: 100px; background:#250a37;}
.main .container .h2-rule { width:401px; height:77px; margin:0 auto; background:url(../images/h2-rule.png) 0 0 no-repeat; }
.main .container .rule-txt { font-size:20px; line-height: 30px; color:white; text-align: center; }
.main .container .h2-link { width:401px; height:69px; margin:0 auto; background:url(../images/h2-link.png) 0 0 no-repeat; }

.main .container .input-link { width:992px; margin-left: auto; margin-right: auto; }
.main .container .input-link input { width:842px; height:60px; padding-left: 10px; line-height: 60px; background:white; box-sizing: border-box; font-size: 18px; outline: none; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: none; }

.main .container .input-link .copy-link { width:150px; height:60px; line-height: 60px; text-align: center; background:#f26826; color:white; font-size: 25px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border: none; outline: none; }
.main .container .input-link .copy-link:hover { background: #db6626; color:white; }

.main .container .gold { width:320px; margin-left: auto; margin-right: auto; }
.main .container .icon-gold { width:42px; height:42px; background:url(../images/icon-gold.png) 0 0 no-repeat; }
.main .container .text-gold { line-height: 42px; color:white; font-size: 20px; }
.main .container .text-gold span { color:#2207f7; background:#ffef00; padding:8px 10px; border-radius: 5px; font-weight:bold; }


