/* ===================================================================================== */
/* == Styles by vr4u 20150509 == */
/* ===================================================================================== */

/* == 初始值重定义 == */
body{ position:relative; padding:0; margin:0; font-size:12px; font-family:"宋体",Tahoma,Helvetica,Arial,sans-serif; color:#333; background:#f2f2f2;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#666; text-decoration:none;}
ul,li,form{ margin:0; padding:0;}
li{ list-style:none;}
img{ border:0;}
em{ font-style:normal;}
input,textarea{ padding:0; margin:0; font-size:12px;}
.clear{ clear:both;}
.l{ float:left;}
.r{ float:right;}


/* common */
.re_block{ margin:150px auto 0; width:600px; height:260px; border:solid 5px #AAA; background-color:#FFF;}
	.re_topic{ height:80px; background-color:#999; color:#FFF;}
	.re_topic .l1{ padding:10px 0 0 15px; font-size:14px; font-family:Tahoma,Helvetica,Arial,sans-serif;}
	.re_topic .l2{ padding:6px 0 0 65px; height:35px; line-height:35px; background:url(/templates/frontend/frontend-default/img/tz/ico_yes.png) 15px 11px no-repeat; font-size:20px; font-family:"Microsoft Yahei",Tahoma,Helvetica,Arial,sans-serif;}
	.re_topic .l2 strong{ padding:0 12px; font-size:30px;}
	
	.re_main{ margin-top:20px; width:600px; height:105px; border-top:solid 1px #E5E5E5; border-bottom:solid 1px #E5E5E5;}
		.re_hibet_logo{ padding:28px 0 0 30px; width:160px;}
		.re_redirect{ margin-top:30px; width:260px; height:45px; line-height:20px; background:url(gogoing.gif) center bottom no-repeat; text-align:center;}
		.re_redirect strong{ padding:0 5px; color:#138060;}
		.re_redirect a{ color:#138060;}
		.re_web_logo{ padding:10px 50px 0 0; width:84px; height:84px;}
		.re_web_logo img{ padding:1px; width:80px; height:80px; border:solid 1px #E5E5E5;}
	
	.re_profile{ display:none; padding:10px 30px; width:540px; height:60px; line-height:20px;  border-bottom:solid 1px #E5E5E5;color:#616161;}
	
	.re_button{ padding-right:30px; height:45px; line-height:45px; text-align:right; color:#616161;}
	.re_button a{ color:#14805E; text-decoration:underline;}
	
/* byclass */
.re_block_aa .pro_aa,.re_block_a .pro_a,.re_block_b .pro_b,.re_block_c .pro_c,.re_block_d .pro_d,.re_block_e .pro_e{ display:block;}
.re_block_aa .re_topic{ background-color:#14805E;}
.re_block_a .re_topic{ background-color:#0B81A7;}
.re_block_b .re_topic{ background-color:#19A8A6;}
.re_block_c .re_topic{ background-color:#349BD4;}
.re_block_d .re_topic{ background-color:#FF8B02;}
.re_block_e .re_topic{ background-color:#FF8B02;}
.re_block_e .re_topic .l2{ background:url(/templates/frontend/frontend-default/img/tz/ico_alert.png) 35px 11px no-repeat;}















