*,html,body,div,ul,li,img,a,p,table,th,thead,tbody,tr,td{padding: 0; margin: 0}
a{text-decoration:none}
ul,li{list-style: none}
.container  {width:1200px;margin:0 auto;}
.margin-auto{margin-left: auto;margin-right: auto;}
.h3{font-size: 23px;font-weight:bold;font-style:italic;color:white;text-align:center;-webkit-text-stroke: 1px #3c3c3c;}
.font-21{font-size: 21px!important;}
.font-18{font-size: 18px!important;}
.gold{color:#feddaa!important;}
.red{color:#6e000f!important;}
.bg-red{background:#aa0017!important;}
.text-center{text-align: center!important;}
.text-left{text-align: left!important;}
.float-left{float:left!important;}
.float-right{float:right!important;}
.clearfix{clear:both;overflow: hidden;}



/*头部*/
.header-box{min-width:1200px;background: #17927b;height: 56px;line-height: 56px;}
.header{width: 1200px;margin: 0 auto;height: 56px;}
.header .right{float:right}
.header .logo{margin-top: 6px;width: 150px;height: 44px;display: inline-block;}

/*banner*/
.banner{min-width:1200px;;background: url(../images/bg_03.png) top center repeat-x #6d0210;}
.banner .container {height:820px;}
.banner .container p{padding-top:760px;text-align: center;color:#ffffcf;font-size: 22px;}


.main{min-width: 1200px;background: url(../images//bg-content.jpg) top center no-repeat #6d0210;}
/*活动内容*/
.active-content .h3{padding-top: 176px;}
.active-content .box{width:991px;padding:0 10px 0 30px;margin:68px 0 0 129px;font-size: 21px;}
.active-content .box .box-header{height:71px;padding-left:30px;line-height: 71px;font-weight:bold;}
.active-content .box .left-list{width:800px;font-size: 18px;}
.active-content .box .right{float:left;width:155px;line-height: 45px;padding:120px 0;}
.active-content .active-trans{padding-top:3px;}
.active-content .active-trans .h3-active-trans{margin-left:160px;margin-bottom:270px;font-size: 36px;font-weight: bold;}
.active-content .active-trans .text-active-trans{font-size: 18px;font-weight: normal;}
.active-content .active-trans .text-active-trans a{color:#ffed19;}
.active-content .active-trans .text-active-trans span{color:#ffed19;font-weight: bold;}
/*英雄榜名单*/
.hero-list{padding-bottom: 100px;}
.hero-list .h3{font-size: 46px;padding-bottom: 75px;}



.footer-box{min-width:1200px;background:#850012;overflow: hidden;color: #feddaa;font-size: 14px;}
.footer-box h3{margin-top:50px;font-size: 36px;}
.footer{ width:1200px; margin:0 auto; padding-bottom:50px;}
.footer p{line-height: 28px;}

.qq{min-width:1200px;height: 100px;background-color: #191919;}
.message{width: 1200px;margin: 0 auto;}
.message .left{float: left;margin-top: 14px;}
.message .right{float: right;margin-top: 35px;}
.message .right a{border: 1px solid #c2c2c2;font-size: 12px;text-decoration: none;color: #fff;padding: 5px 10px;margin-top: 28px;}



.left-list{
    color: #6e000f;
    width: 604px;
    float: left;
    font-size: 14px;
}
.left-list>li:first-child{color:#fbd4ae;height: 60px;line-height: 60px;}
.left-list >li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    /* overflow: hidden; */
    float: left;
}
.smalllist{}
.smalllist li{
    float: left;
}

.smalllist li:first-child{
    margin-left: 35px;
    width: 90px;
}

.smalllist li:nth-child(2){
    margin-left:20px;
    width: 440px;
}
.smalllist li:nth-child(3){
    margin-left:20px;
    width: 40px;
}

.smalllist li:nth-child(4){
    margin-left:20px
}


.message-bottom{

height: 50px;
position: relative;
margin-top: 30px;

font-size: 13px;
}
.message-bottom a{position: absolute;right: 66px;bottom: 10px;\: #00bafa;height: 40px;width: 40px;display: inline-block;}

.message-bottom p:nth-child(1){

margin-top: 36px;
}

.message-bottom p{
    margin-left: 137px;
    color: #ffdda9;
    margin-top: 7px;
}

.panel-box{
    width: 750px;
    margin: 20px auto 0;
    padding-left: 70px;
    height: 620px;
    overflow: hidden;
    position: relative;
}
.panel-box .left-list>li:last-child{margin-top:16px}
.panel-box .left-list{
    width: 100%;
    position: absolute;
    top: 0px;
}


.panel-box .smalllist{color:#feddaa}


.small-list li{
    float: left;
    padding-right: 32px;
    color: #fbd4ae;
    font-size: 16px;
}

.small-list li:first-child{
    margin-left: 28px;
}

.header .right a{float: right;border:1px solid #fff;padding: 2px 10px;font-size: 12px;color: #fff;height: 20px;line-height: 20px;margin-left: 12px;margin-top: 15px;cursor: pointer;}

.img-wapper{position: relative; cursor:pointer}
.img-wapper:hover img{display:block}
.img-wapper img{
    position: absolute;
    top: 37px;
    right: -10px;
    border: 6px solid #fff;
    width: 300px;
    z-index: 1;
    display: none;
    pointer-events: none;
    }

