ul {list-style: none;}
a {text-decoration: none;}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
input,
form {
margin: 0;
padding: 0;
}
html,
body {
font-size: 12px;
font-family: "Microsoft YaHei" ;
}
.fl {
float: left;
}
.fr {
float: right;
}
img {
border: none;
}