*{padding:0; margin: 0}
body{font-size: 14px; font-family: "微软雅黑"}
li{list-style: none;}
a{text-decoration: none;}
.top{ height: 185px;}
.wapper{width: 100%;height: 1650px;background: url(../images/bg_03.jpg?t=2) center;overflow: hidden;position: relative;}
.pop{width: 380px;height: 180px;background: #fff;border: 1px solid #c2c2c2;position: fixed;top: 235px;left: 50%;margin-left: -190px;z-index: 9999;display: none;}
.pop .title{height: 30px;color:#fff;background-color: #1bbc9d;line-height: 30px;padding-left: 10px;}
.pop .title span{float: right; margin-right: 10px; cursor: pointer;}
.pop .text{margin-top: 45px;text-align: center;height: 30px;line-height: 30px;overflow: hidden;}
.pop  a{width: 100px;height: 30px;line-height: 30px;border-radius: 5px;margin-left: 150px;margin-top: 24px;display: inline-block;text-align: center;color: #fff;background-color: #1bbc9d;}
.tableContent{width: 1004px;margin:0 auto;height: 580px;background: url(../images/table_03.jpg);margin-top: 757px;overflow: hidden;}
.tabcontent{margin-top: 76px;}
.tabcontent>li{list-style: none;line-height: 50px;height: 50px;width: 100%;float: left;color: #fff;font-size: 16px;}
.tabcontent>li li.renwu{width: 405px;float: left;margin-left: 52px;}
.tabcontent>li li.jl{width: 408px;float: left;}
.tabcontent>li li.lj{ width: 100px; float: left;}
.tabcontent .gray{border-radius: 16px;width: 100px;height: 26px;line-height: 26px;text-align: center;background: #969696;display: inline-block;}
.tabcontent .yellow{border-radius: 16px;width: 100px;height: 26px;line-height: 26px;text-align: center;background: #e79300;display: inline-block;}
.tabcontent .blue{border-radius: 16px;color: #1bbc9d;width: 100px;height: 26px;line-height: 26px;text-align: center;display: inline-block;border: 1px solid #1bbc9d;}
.tabcontent>li li span{margin-top: 15px;float: left; cursor: pointer;}
.tableContent>a{width: 274px;margin-left: 366px;height: 23px;display: inline-block;margin-top: 43px;}
.cm{height: 30px; color:#fff; line-height: 30px;border-top: 1px solid #c2c2c2;border-bottom: 1px solid #c2c2c2;width: 1000px;margin: 0 auto;margin-top: 10px;}
.top{ height: 185px; width: 100%;}
.fotter{ height: 185px; width: 100%;}



.footer .hidden-xs,.footer .visible-xs {
    text-align: center;
    color: #fff;
}

.footer {
    height: 180px;
    background: #1bbc9d;
    overflow: hidden;
    position: relative;
}

.footerContent {
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    margin-top: 25px;
}

.footerLeft {
    float: left;
    height: 100px;
    border-right: 2px solid #c8c8c8;
}

.footerLeft img {
    margin-top: 20px;
}

.footerMian {
    width: 430px;
    height: 100px;
    float: left;
    border-right: 2px solid #c8c8c8;
    margin-right: 20px;
}

.footerMian img {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.footerMian ul {
    float: left;
    width: 300px;
}

.footerMian ul li {
    float: left;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    width: 300px;
}

.footerMian ul li span {
    float: left;
}

.footerMian ul li a {
    width: 96px;
    height: 26px;
    margin-left: 22px;
    display: inline-block;
    background: url(../images/qqjt_15.jpg) no-repeat;
}

.footerRight img {
    height: 90px;
    float: left;
}

.footerRight ul {
    float: left;
    width: 180px;
    margin-left: 20px;
    margin-top: 18px;
}

.footerRight ul li {
    float: left;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    width: 300px;
}

.footerRight ul li span {
    float: left;
}




.top-nav {
  height: 40px;
  line-height: 40px;
  background-color: #17937b;
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;*/
}

.container{padding-left:8px;padding-right:10px;}
@media(min-width: 1200px) {
    .container {
        width:1150px;
        margin: 0 auto;
    }
}
.top-menu  > .pull-left > li{
    margin: 0 10px 0 0;
    float: left;    
}

.top-menu > div > li > a  {
    display: block;
}
.navbar-brand {
    padding: 8px 4px;
}

.top-menu > div > li > a:hover  {
    text-decoration: none;
}


.navbar-inverse{
    background-color: #1bbc9d;
}
