@charset "utf-8";
body {
    background: #f3f3f3;
}

.top {
    background: url(../images/top_01.jpg) no-repeat center center;
    height: 392px;
}

.contain {
    width: 1100px;
    margin: 0 auto;
}

.layer {
    position: relative;
    height: 675px;
    margin-top: -90px;
}

.login_box {
    width: 320px;
    height: 642px;
    float: left;
    position: relative;
}

.login {
    height: 520px;
    width: 320px;
    background: #feb05c;
    -khtml-border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.login h4 {
    text-align: center;
    color: #fff;
    line-height: 80px;
    font-size: 24px;
}

.login .content {
    width: 280px;
    overflow: hidden;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    -khtml-border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding-top: 38px;
}
.luoliao-table table td,th{color:#000;font-size:15px;}
.login .icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
}

.iuser {
    background-image: url(../images/icon/iuser.png);
}

.ipw {
    background-image: url(../images/icon/ipw.png);
}

.iphone {
    background-image: url(../images/icon/iphone.png);
}

.login input {
    border-bottom: 1px solid #c2c2c2!important;
    padding: 0px;
    color: #a5a5a5;
    font-size: 12px;
    width: 184px;
    float: right;
}

.login .input {
    height: 26px;
    line-height: 26px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.login span {
    display: inline-block;
    width: 22px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
}

.login .btn_group {
    margin-top: 56px;
    text-align: center;
}

.login .btn {
    width: 215px;
    margin: 0 auto;
    padding: 0px;
}

.login p {
    border-top: 1px dotted #c2c2c2;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 24px;
    width: 260px;
    padding-top: 16px;
    color: #545454;
}

.login p a {
    color: #ff3b3b;
}

.login .img {
    text-align: center;
    margin-top: 26px;
}

.login_box .watch {
    margin-top: 28px;
    display: block;
    text-align: center;
}

.layer .banner {
    width: 758px;
    height: 593px;
    float: right;
    text-align: center;
    position: relative;
    top: 80px;
    background: url(../images/l_banner_shadow.png) center bottom no-repeat;
}
.navbar{
	margin-bottom:0;
	min-height:0;
}
.layer .banner a {
    position: absolute;
    width: 48px;
    height: 98px;
    display: inline-block;
}

.b_banner{
	position: relative;
	width: 751px;
	margin:0 auto;
}
.b_banner .preNext {
    width: 45px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top:-50px;
    background: url(../images/prev.png) no-repeat;
    cursor: pointer;
}

.b_banner .pre {
    left: 0px;
}

.b_banner .next {
    right: 0px;
    background: url(../images/next.png) no-repeat;
}

/* focus */

#focus {
    width: 661px;
    height: 437px;
    overflow: hidden;
    position: relative;
   	margin:0 auto;
}

#focus ul {
    height: 437px;
    position: absolute;
}

#focus ul li {
    float: left;
    width: 661px;
    height: 437px;
    overflow: hidden;
    position: relative;
}

#focus ul li div {
    position: absolute;
    overflow: hidden;
}

#focus .btnBg,#focus .btn {
    display: none;
}

#focus .btn span {
    display: inline-block;
    _display: inline;
    _zoom: 1;
    width: 25px;
    height: 10px;
    _font-size: 0;
    margin-left: 5px;
    cursor: pointer;
}

#focus .btn span.on {
    background: #fff;
}



.qq {
    position: fixed;
    width: 184px;
    height: 428px;
    right: 10px;
    top: 118px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background: #69a9ff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
}

.qq a {
    display: block;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border-top: 1px solid #69a9ff;
    border-bottom: 1px solid #69a9ff;
}

.qq a span {}

.qq .isolate {
    border-bottom: 1px solid #84b9ff;
    width: 152px;
    display: block;
    margin: 0 auto;
}

.qq .first {
    height: 70px;
    line-height: 70px;
    background: #5696ed;
    -khtml-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
}

.qq .first_avator {
    background: #5696ed;
}

.qq .second_avator {
    height: 73px;
}

.qq .first a {
    height: 70px;
    line-height: 70px;
}

.qq a.small {
    font-size: 18px;
    height: 48px;
    line-height: 48px;
}

.qq a:hover {
    background: #ed9a56;
    border-color: #fff;
}

.qq a.first:hover {
    border-top-color: #ed9a56;
}

.qq a.second_avator:hover {
    border-bottom-color: #ed9a56;
}

.qq .title {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding: 0 10px;
}

.qq .avator {
    width: 46px;
    height: 46px;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 4px solid #abcbf6;
    margin-right: 4px;
}

.qq .avator img {
    width: 46px;
    height: 46px;
    vertical-align: top;
    line-height: 46px;
}

.qq .avator_box {
    font-size: 18px;
}

.vip {
    height: 255px;
    padding: 5px 0px;
    margin-top: 10px;
    background: #fff;
}

.vip .content {
    background: #dd8872;
    height: 252px;
    overflow: hidden;
}

.vip .content ul li {
    float: left;
    width: 144px;
    height: 144px;
    margin-left: 15px;
    margin-top: 32px;
}

.vip .icon_group {
    display: inline-block;
    width: 830px;
    float: right;
    padding-top: 30px;
    position: relative;
    left: -30px;
}

.vip .icon_group .block {
    display: inline-block;
    width: 145px;
    margin: 0px 33px 0px 25px;
    animation: 2s ease-out;
}

.vip .icon_group .block span {
    display: inline-block;
    vertical-align: top;
    width: 145px;
    height: 148px;
    margin-bottom: 6px;
    position: relative;
}

.vip .icon_group .block:hover img {
    -moz-animation: bounce-up 0.8s ease-out;
    -o-animation: bounce-up 0.8s ease-out;
    -ms-animation: bounce-up 0.8s ease-out;
    -webkit-animation: bounce-up 0.8s ease-out;
    animation: bounce-up 0.8s ease-out;
}

@-webkit-keyframes bounce-up {
    25% {
        -webkit-transform: translateY(-18px);
    }
    50%,
    100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(-10px);
    }
}

@-o-keyframes bounce-up {
    25% {
        -o-transform: translateY(-18px);
    }
    50%,
    100% {
        -o-transform: translateY(0);
    }
    75% {
        -o-transform: translateY(-10px);
    }
}

@-ms-keyframes bounce-up {
    25% {
        -ms-transform: translateY(-18px);
    }
    50%,
    100% {
        -ms-transform: translateY(0);
    }
    75% {
        -ms-transform: translateY(-10px);
    }
}

@-moz-keyframes bounce-up {
    25% {
        -moz-transform: translateY(-18px);
    }
    50%,
    100% {
        -moz-transform: translateY(0);
    }
    75% {
        -moz-transform: translateY(-10px);
    }
}

@keyframes bounce-up {
    25% {
        transform: translateY(-18px);
    }
    50%,
    100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
}

.vip .icon_group .block img {
    width: 145px;
    height: 148px;
    position: absolute;
}

.vip .icon_group p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

.vip .contain {
    background: url(../images/vip_bg.png) 210px top no-repeat;
}

.vip_grade {
    height: 430px;
    width: 100%;
    background: #dfe0e3;
    padding-top: 60px;
}

.vip_grade .left {
    float: left;
    width: 262px;
    height: 358px;
    display: inline-block;
}

.vip_grade .content {
    width: 820px;
    float: right;
    display: block;
    position: relative;
}

.vip_grade table {
    background: #f2f1f1;
    text-align: center;
    width: 100%;
    line-height: 38px;
    color: #282828;
    table-layout: fixed;
    font-size: 14px;
}

.vip_grade table th {
    color: #fff;
    background: #404040;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: normal;
}

.vip_grade table td {
    border: 1px solid #d1d1d1;
}

.vip_grade table .relative {
    cursor: pointer;
}

.vip_grade table .relative:hover .pp {
    display: block;
}

.vip_grade table .pp {
    position: absolute;
    width: 120px;
    height: 150px;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #3695ff;
    left: 10px;
    top: 2px;
    z-index: 1;
    display: none;
}

.vip_grade table .title {
    height: 34px;
    background: #3695ff;
    color: #fff;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    -khtml-border-radius: 16px 16px 0px 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    -moz-border-radius: 16px 16px 0px 0px;
    border-radius: 16px 16px 0px 0px;
}

.vip_grade table p {
    color: #333;
    padding: 10px;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
}

.vip_grade table .more {
    background: url(../images/smore_06.png) no-repeat;
    height: 28px;
    width: 90px;
    position: absolute;
    top: 4px;
    right: -100px;
}

.vip_grade .info {
    width: 820px;
    height: 315px;
    background: #3d78db;
    border-radius: 15px;
    color: #fff;
    top: -5px;
    left: -5px;
    position: absolute;
    padding-top: 50px;
    padding-left: 20px;
    display: none;
}

.vip_grade .info h3 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    padding-left: 20px;
}

.vip_grade .info p {
    color: #fff;
    line-height: 34px;
    font-size: 16px;
}

.vip_grade .info .idot {
    width: 8px;
    height: 8px;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fdf002;
    margin-right: 10px;
    display: inline-block;
}

.swiper-right {
    background: url(../images/right_03.png);
    height: 220px;
    width: 41px;
    position: absolute;
    top: 101px;
    right: -30px;
    height: 212px;
    width: 30px;
}

.close{
    position: absolute;
    cursor: pointer;
    background-color: #f2f0f0;
    top: -28px;
    right: -23px;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.closeLine {
    position: absolute;
    width: 1px;
    display: inline-block;
    background: #fff;
    height: 30px;
    top: -21px;
    right: 24px;
}

.close:hover {
    background: #bdbdbd
}

.close img {
    display: inline-block;
}

.plug {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    display: block;
    top: -10000px;
}
.plug-luoliao {width: 100%;height: 100%;position: fixed;left: 0;bottom: 0;right: 0;background: rgba(0, 0, 0, 0.8);z-index: 99;display: none;  top: 0;  }
.luoliao-content{position: fixed;width: 860px;height: 355px;left:25%;top:20%; z-index: 9999;background:white;border-radius: 4px;}
.luoliao-table h3{margin-top: 15px;text-align: center;color:#feb05c;font-size: 1.6rem;}
.luoliao-table>p{margin-top:10px;text-align: center;color: gray;font-size: .8rem;line-height: 20px;}
.luoliao-table table{margin:10px auto 0;text-align:center;line-height: 25px;background:white;border:1px solid gainsboro;}
.luoliao-table table thead{background:#feb05c;color:white;}


.swiperContent {
    position: fixed;
    width: 860px;
    height: 480px;
    left: 50%;
    top: 50%;
    margin-left: -4300px;
    margin-top: -240px;
    z-index: 9999;
}

.swiper-container {
    width: 860px;
    height: 480px;
    border-radius: 8px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.logins {
    position: relative;
}

.logins a {
    position: absolute;
    width: 200px;
    height: 40px;
    display: inline-block;
    top: 401px;
}

.logins a.left {
    left: 125px;
}

.logins a.right {
    right: 239px;
}

.layer_last {
    height: auto;
    width: 1117px;
    padding-top: 32px;
    position: relative;
    margin: 0 auto;
}

.layer_last .banner {
    width: 1126px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.layer_last .banner .c-banner {
    height: 500px;
    position: relative;
}

.layer_last .banner .c-banner ul {
    position: absolute;
    height: 500px;
}

.layer_last .banner .c-banner li {
    float: left;
    width: 1126px;
    position: relative;
}

.layer_last .c-banner .left,
.layer_last .c-banner .right {
    display: inline-block;
    position: absolute;
    border-radius: 33px;
}

.layer_last .c-banner .left {
    height: 307px;
    width: 565px;
    top: 187px;
    left: 272px;
}

.layer_last .c-banner .right {
    width: 230px;
    height: 470px;
    right: 57px;
    top: -2px;
}

.layer_last .lf,
.layer_last .rt {
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: 26px;
    height: 20px;
    top: 345px;
}

.layer_last .lf {
    left: 147px;
}

.layer_last .rt {
    left: 199px;
}
.layer_last .hidden {
    position: absolute;
    left: 268px;
    top: 177px;
    height: 320px;
    width: 566px;
    background: url(../images/lb_shadow.png) no-repeat;
	display: none!important;
    z-index: 2;
}

.layer_last li:hover .hidden {
    display: block!important;
	visibility:visible!important;
}


